body {
    @include light;
    color: $text-color;
}

.btn-o {
    border: 2px solid $primary;
    padding: 17px 22px;
    font-size: 12px;
    color: $primary;
    @include bold;
    text-transform: uppercase;
    background: transparent;
    cursor: pointer;
    transition: 0.2s;
    &:hover {
        background: $primary;
        color: #fff;
    }
}

.btn {
    padding: 25px 45px;
    text-transform: uppercase;
    border: none;
    background: $primary;
    @include bold;
    color: #fff;
    cursor: pointer;
    &:hover {
        background: darken($primary, 10%);
    }
}

@media (max-width: 576px) {
    .btn-o {
        font-size: 10px;
    }
}