.price-wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    &__card {
        margin-bottom: 10px;
    }
}

.price-card {
    position: relative;
    background: #fff;
    &__img {
        overflow: hidden;
        img {
            display: block;
        }
    }
    &__text {
        padding: 20px;
        font-size: 15px;
    }
    &__title {
        margin: 0;
    }
    &__cost {
        @include bold;
    }
    &__pricetag {
        display: flex;
        justify-content: space-between;
    }
    &__button {
        text-align: center;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
        background: #fff;
        height: 80px;
        padding: 20px;
        padding-top: 0;
        opacity: 0;
        z-index: -1;
        transition: 0.3s;
    }
    &:hover {
        .price-card__button {
            z-index: 99;
            opacity: 1;
            bottom: -80px;
        }
    }
}

@media (max-width: 1199px) {
    .price-wrap {
        justify-content: center;
    }
    .price-card {
        margin: 0 20px;
    }
}

@media (max-width: 768px) {
    .price-wrap {
        &__card {
            margin-bottom: 20px;
        }
    }
}

@media (max-width: 576px) {
    .price-wrap {
        &__card {
            margin-right: 0;
            margin-left: 0;
        }
    }
}