.reviews-slider {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: flex-end;
    &__item {
        width: 370px;
    }
    &__img {
        border-radius: 50%;
        display: block;
        border: 2px solid #6a99e9;
        margin: 30px auto 20px;
    }
    &__text {
        padding: 20px;
        background: #fff;
        font-style: italic;
        font-size: 15px;
        border-radius: 10px;
        position: relative;
        max-width: 370px;
        &::before {
            content: '';
            display: block;
            position: absolute;
            bottom: -30px;
            left: 50%;
            margin-left: -15px;
            border: 15px solid transparent;
            border-top: 15px solid #fff;
        }
    }
    &__name {
        font-size: 14px;
    }
    &__title {
        margin: 0;
        font-size: 16px;
        @include bold;
    }
    &__dots {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
        li {
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background: #d1d1d1;
            margin-right: 10px;
            cursor: pointer;
            &:last-child {
                margin-right: 0;
            }
            &.slick-active {
                background: $primary;
            }
        }
        button {
            display: none;
        }
    }
}

@media (max-width: 1199px) {
    .reviews-slider {
        &__item {
            margin: 0 20px;
        }
    }
}

@media (max-width: 576px) {
    .reviews-slider {
        &__item {
            width: 280px;
        }
        &__dots {
            margin-bottom: 30px;
        }
    }
}